<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
	<h2 >Spring Boot fruit shop</h2>
	<div >
                 <table class="table">
	<tr>
	<th>		   
		     <h3><a  th:href="@{'/new'}">Add new</a></h3>     
	</th>
	<th>		   
		     <h3><a  th:href="@{'/cus'}">Customer Details</a></h3>     
	</th>
	<th>	   
		     <h3><a  th:href="@{'/tra'}">Transaction Details</a></h3>     
	</th>
	<th>	   
		     <h3><a  th:href="@{'/new2'}">Buy</a></h3>     
	</th>
	</tr>
	</div>

	<tr>
	
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
      		<th>Fruit ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Edit</th>
            <th>Delete</th>
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="fruit : ${listfruit }">
		<td th:text="${fruit.Id}">ID</td>
		<td th:text="${fruit.name}">Name</td>
		<td th:text="${fruit.price}">Price</td>
		<td th:text="${fruit.quantity}">Quantity</td>				
		<td>
			<a th:href="@{'/edit/' + ${fruit.Id}}">Edit</a>
		</td>							    
		<td>
			<a th:href="@{'/delete/' + ${fruit.Id}}">Delete</a>
		</td>		    
		</tr> 
   
  </tbody>
</table>
                    
                 </div>

            </div> 

	</tr>

	</tbody>
	</table>
	<div>
</body>
</html>