<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
	<h2 >Spring Boot Transaction</h2>
	<div class="alert alert-primary" role="alert" th:text="${message}" th:if="${message}"></div>
	<div>
	<div >
                 <table class="table">
	<tr>
	<th>	   
		     <h3><a  th:href="@{'/new2'}">Buy</a></h3>     
	</th>
	<th>		   
		     <h3><a  th:href="@{'/'}">Fruit Details</a></h3>     
	</th>
	<th>		   
		     <h3><a  th:href="@{'/cus'}">Customer Details</a></h3>     
	</th>
	<th>	   
		     <h3><a  th:href="@{'/tra'}">Full Transaction Details</a></h3>     
	</th>
	
	</tr>
	</div>
	<div>
	<div >
                 <table class="table">
	<tr>
	<th>	   
		     <h3><a  th:href="@{'/bycustomer'}">FilterByCustomer</a></h3>     
	</th>
	<th>		   
		     <h3><a  th:href="@{'/byfruit'}">FilterByFruit</a></h3>     
	</th>
	<th>		   
		     <h3><a  th:href="@{'/byboth'}">FilterByCustomer&Fruit</a></h3>     
	</th>
	
	</tr>
	</div>
	<tr>
	
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>
      		<th>ID</th>
            <th>fruit_id</th>
            <th>Customer_id</th>
            <th>Name</th>
            <th>Customer Name</th>
            <th>quantity</th>
            <th>cost</th>
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="tra : ${listtra }">
		<td th:text="${tra.Id}">ID</td>
		<td th:text="${tra.fruit_id}">Fruit_id</td>
		<td th:text="${tra.customer_id}">customer_id</td>	
		<td th:text="${tra.name}">Name</td>
		<td th:text="${tra.customer}">Customer name</td>
		<td th:text="${tra.quantity}">Quantity</td>	
		<td th:text="${tra.cost}">Cost</td>		  
		</tr> 
   
  </tbody>
</table>
                    
                 </div>

            </div> 

	</tr>

	</tbody>
	</table>
	<div>
</body>
</html>