<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
    <h1>Add new Customer</h1>
    <br />
    <div class="alert alert-primary" role="alert" th:text="${message}" th:if="${message}"></div>
     <div class="col-sm-4">
    <form action="#" th:action="@{/savecus}" th:object="${customer}" method="post">

      
 		<div alight="left">
            <tr>
                <label class="form-label" >Fruit Name</label>
                <td>
	                <input type="hidden" th:field="*{Id}" />
	                <input type="text" th:field="*{name}" class="form-control" placeholder="Name" />
                </td>
            </tr>
         </div>   
            
          	<div alight="left">
          
            <tr>
                 <label class="form-label" >Phone_no</label>
                <td><input type="text" th:field="*{phone_no}" class="form-control" placeholder="Phone_no" /></td>
            </tr>
			<br>
            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Save</button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>